

* {
    font-family: 'Russo One', sans-serif;
    font-weight: 300;
}

  

.custom-hover:hover {
    background-color: rgb(14 85 153) !important;
}


.light-mode {
    background-color: #98FB98;
}

.dark-mode {
    background-color: rgb(25, 78, 78);
}


.bg-theme-dark {
    background-color: rgb(58, 116, 116);
}

.bg-theme-light {
    background-color: rgb(206, 236, 215);
}

.autocomplete-results {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .autocomplete-results li {
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .autocomplete-results li:hover {
    background-color: #f0f0f0;
  }
  